doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Vegan Meal Planner
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(rel='stylesheet', href='')
  body
    .container
      h1 Vegan Meal Plan for #{Day}
      table.table
        thead.thead-dark
          tr
            th(scope='col') #{Day}
            th(scope='col') Meal
            th(scope='col') Notes
        tbody
          tr
            th(scope='row') Breakfast
            td
              if Breakfast
                a(class='button', href="/meal/update/" + Breakfast["id"])=Breakfast["mealName"]
            td
              if Breakfast
                if Breakfast["notes"]
                  p(class='dummy')=Breakfast["notes"]
          tr
            th(scope='row') Lunch
            td
              if Lunch
                a(class='button', href="/meal/update/" + Lunch["id"])=Lunch["mealName"]
            td
              if Lunch
                if Lunch["notes"]
                  p(class='dummy')=Lunch["notes"]
          tr
            th(scope='row') Dinner
            td
              if Dinner
                a(class='button', href="/meal/update/" + Dinner["id"])=Dinner["mealName"]
            td
              if Dinner
                if Dinner["notes"]
                  p(class='dummy')=Dinner["notes"]
          tr
            th(scope='row') Snack
            td
              if Snack
                a(class='button', href="/meal/update/" + Snack["id"])=Snack["mealName"]
            td
              if Snack
                if Snack["notes"]
                  p(class='dummy')=Snack["notes"]
          tr
            th(scope='row') Beverage
            td
              if Beverage
                a(class='button', href="/meal/update/" + Beverage["id"])=Beverage["mealName"]
            td
              if Beverage
                if Beverage["notes"]
                  p(class='dummy')=Beverage["notes"]
    footer.footer
      .container
        span.text-muted Copyright 2018 by Kira Hartlage
