doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Vegan Meal Planner
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(rel='stylesheet', href='')
  body
    .container
      h1 Vegan Meal Plan for #{Day}
      table.table
        thead.thead-dark
          tr
            th(scope='col') #{Day}
            th(scope='col') Meal
            th(scope='col') Notes
        tbody
          if Breakfast
            each meal in Breakfast
              tr
                th(scope='row') Breakfast
                td
                  a(class='button', href="/meal/update/" + meal["id"])=meal["mealName"]
                  br
                td
                  if meal["notes"]
                  p(class='dummy')=meal["notes"]
          if Lunch
            each meal in Lunch
              tr
                th(scope='row') Lunch
                td
                  a(class='button', href="/meal/update/" + meal["id"])=meal["mealName"]
                  br
                td
                  if meal["notes"]
                  p(class='dummy')=meal["notes"]
          if Dinner
            each meal in Dinner
              tr
                th(scope='row') Dinner
                td
                  a(class='button', href="/meal/update/" + meal["id"])=meal["mealName"]
                  br
                td
                  if meal["notes"]
                  p(class='dummy')=meal["notes"]
          if Snack
            each meal in Snack
              tr
                th(scope='row') Snack
                td
                  a(class='button', href="/meal/update/" + meal["id"])=meal["mealName"]
                  br
                td
                  if meal["notes"]
                  p(class='dummy')=meal["notes"]
          if Beverage
            each meal in Beverage
              tr
                th(scope='row') Beverage
                td
                  a(class='button', href="/meal/update/" + meal["id"])=meal["mealName"]
                  br
                td
                  if meal["notes"]
                  p(class='dummy')=meal["notes"]
                  

    //- .container
    //-   table.table
    //-     thead.thead-dark
    //-       tr
    //-         th(scope='col') Daily Dozen
    //-         th(scope='col') Breakfast
    //-         th(scope='col') Lunch
    //-         th(scope='col') Dinner
    //-         th(scope='col') Snack
    //-         th(scope='col') Beverage
    //-     tbody
    //-       each category in categoryTotal 
    //-         tr
    //-           th(scope='row')= categoryTotal[category]
    //-           td= category


    footer.footer
      .container
        span.text-muted Copyright 2018 by Kira Hartlage
