doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Vegan Meal Planner
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/js/app.js" type="text/javascript")
  body
    #tableData.container
      h1 Daily Vegan Meal Plan for #{Day}
      
      a.btn.btn-primary(href='/add', role='button') Add a meal
      a.btn.btn-secondary(href='/', role='button') View Week
      
      table.table.table-bordered
        thead.thead-dark
          tr
            th(scope='col') Time of Day
            th(scope='col') Meal
            th(scope='col') Notes
            th(scope='col') Delete?
        tbody
          if Breakfast
            each meal in Breakfast
              tr
                th(scope='row') Breakfast
                td
                  a(class='button', href="/meal/update/" + meal["id"])=meal["mealName"]
                  br
                td
                  if meal["notes"]
                  p(class='dummy')=meal["notes"]
                td
                  button(type="button" class='btn btn-xs btn-danger', onclick="handleDeleteMealClickDay('" + meal["id"] + "', '" + Day + "')") Delete
          if Lunch
            each meal in Lunch
              tr
                th(scope='row') Lunch
                td
                  a(class='button', href="/meal/update/" + meal["id"])=meal["mealName"]
                  br
                td
                  if meal["notes"]
                  p(class='dummy')=meal["notes"]
                td
                  button(type="button" class='btn btn-xs btn-danger', onclick="handleDeleteMealClickDay('" + meal["id"] + "', '" + Day + "')") Delete
          if Dinner
            each meal in Dinner
              tr
                th(scope='row') Dinner
                td
                  a(class='button', href="/meal/update/" + meal["id"])=meal["mealName"]
                  br
                td
                  if meal["notes"]
                  p(class='dummy')=meal["notes"]
                td
                  button(type="button" class='btn btn-xs btn-danger', onclick="handleDeleteMealClickDay('" + meal["id"] + "', '" + Day + "')") Delete
          if Snack
            each meal in Snack
              tr
                th(scope='row') Snack
                td
                  a(class='button', href="/meal/update/" + meal["id"])=meal["mealName"]
                  br
                td
                  if meal["notes"]
                  p(class='dummy')=meal["notes"]
                td
                  button(type="button" class='btn btn-xs btn-danger', onclick="handleDeleteMealClickDay('" + meal["id"] + "', '" + Day + "')") Delete
          if Beverage
            each meal in Beverage
              tr
                th(scope='row') Beverage
                td
                  a(class='button', href="/meal/update/" + meal["id"])=meal["mealName"]
                  br
                td
                  if meal["notes"]
                  p(class='dummy')=meal["notes"]
                td
                  button(type="button" class='btn btn-xs btn-danger', onclick="handleDeleteMealClickDay('" + meal["id"] + "', '" + Day + "')") Delete
      
      table.table.table-bordered.table-sm
        thead.thead-dark
          tr
            th(scope='col') Daily Dozen
            th(scope='col') Total

        tbody
          - var catKeys = Object.keys(categoryTotal)
          each category in catKeys
            tr
              th(scope='row')= category
              td= categoryTotal[category]
              
      .jumbotron
        h1.display-4 Interested in learning more?
        p
          a.btn.btn-primary.btn-lg(href='https://www.nutritionfacts.org', role='button') Click Here

      footer.footer
        span.text-muted Copyright 2018 by Kira Hartlage
